[MAIN]
Save=True
Plot=True
Verbose=True
Mode=Train&Evaluate

[DECISION_TREE]
Classifier_Criterion=entropy
Feature_Selection=False
Features_To_Select=1
Max_Depth=5,10,15,20,25
CV=5
Load_Model_Path=

[RANDOM_FOREST]
Classifier_Criterion=entropy
Feature_Selection=False
Features_To_Select=1
N_Estimators=50
Depths=4
CV=5
Load_Model_Path=

[FEED_FORWARD]
Feature_Selection=True
Features_To_Select=5
Layers=[[25, 20]]
Activation_Fns=['elu']
Dropout_Rates=[0.0]
Loss_Fns=['categorical_crossentropy']
Optimizers=['adam']
Learning_Rates=[0.002]
Batch_Sizes=[1024]
Max_Epochs=[25]
CV_Folds=3
Load_Model_Path=

[TRAINING_DATA]
Data=./sample_input_data.csv
Weather_Correction=../Metadata/WeatherCSV/Oakland/OaklandJune2017March2018CLEAN.csv
Split_Fraction=0.70
Split_Seed=9001
Data_Options=standardize,normalize,remove_outliers
Cols_To_Use=feature_01,feature_02,feature_03,feature_04,feature_05,feature_06,feature_07,feature_08,feature_09,feature_10,feature_11
Label_Col=label_03
Cols_To_Standardize=feature_01,feature_02,feature_03,feature_04,feature_05,feature_06,feature_07,feature_08,feature_09,feature_10
Cols_To_Normalize=feature_11
Remove_Outlier_Cols=feature_05,feature_06,feature_07

[EVALUATION_DATA]
Data=./sample_input_data.csv
Weather_Correction=../Metadata/WeatherCSV/Oakland/OaklandJune2017March2018CLEAN.csv
Split_Fraction=0.30
Split_Seed=9001
Data_Options=standardize,normalize,remove_outliers
Cols_To_Use=feature_01,feature_02,feature_03,feature_04,feature_05,feature_06,feature_07,feature_08,feature_09,feature_10,feature_11
Label_Col=label_03
Cols_To_Standardize=feature_01,feature_02,feature_03,feature_04,feature_05,feature_06,feature_07,feature_08,feature_09,feature_10
Cols_To_Normalize=feature_11
Remove_Outlier_Cols=feature_05,feature_06,feature_07
